{% extends 'task/base.html' %}
{% block content%}

<div style="height: 50px;">


<div class="container-fluid">
<div class="row">
  <div class="col-sm-100 col-md-100 col-lg-100 mx-auto" style="margin-left: 90%;margin-top: 0%;;">
    <div class="card card-signin my-5">
      <div class="card-body" style="background-color: grey;padding:100px">
          <hr class="my-4">
        <h3 class="card-title text-center" style="color:white">Create Student</h3>
        <form class="form-signin" action="/createstud/" method="POST">
            {% csrf_token %}

          <div class="form-label-group">
              <label for="title" style="color:white">Create Student</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name" required="" autofocus>                
          </div>
          <br>
          <div class="form-label-group">
              <label for="task_content" style="color:white">Task Content</label>
            <input type="text" id="age" class="form-control" name="age" placeholder="Enter your age" required>
            
          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Create</button>
          <hr class="my-4">
         
        </form>
      </div>
    </div>
  </div>
</div>
</div>



</div>
<br>


{% endblock%}